{% load static from staticfiles%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Library Management System</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="{% static '/assets/css/layout.css'  %}" type="text/css" />
<link rel="stylesheet" href="{% static '/assets/css/forms.css'  %}" type="text/css" />
<link rel="stylesheet" href="{% static '/assets/css/navi.css'  %}" type="text/css" />

<link rel="stylesheet" href="{% static '/assets/css/tables.css' %}" type="text/css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="stylesheet" href="{% static '/assets/include/ui-1.10.0/ui-lightness/jquery-ui-1.10.0.custom.min.css'  %}" type="text/css" />
<link rel="stylesheet" href="{% static '/assets/css/jquery.ui.timepicker.css?v=0.3.3'  %}" type="text/css" />

<script type="text/javascript" src="{% static '/assets/include/ui-1.10.0/jquery.ui.core.min.js'  %}"></script>
<script type="text/javascript" src="{% static '/assets/include/ui-1.10.0/jquery.ui.widget.min.js'  %}"></script>
<script type="text/javascript" src="{% static '/assets/include/ui-1.10.0/jquery.ui.tabs.min.js'  %}"></script>
<script type="text/javascript" src="{% static '/assets/include/ui-1.10.0/jquery.ui.position.min.js'  %}"></script>

<script type="text/javascript" src="{% static '/assets/js/jquery.ui.timepicker.js?v=0.3.3'  %}"></script>

</head>
<body id="top">
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="#">Library Management System</a></h1>
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col2">
  <div id="topbar">
    <div id="topnav">
	<ul>
	{% if request.session.user_id == 1 %}
	<li><a href="/users/dashboard">Home</a></li>
	{% else %}
	<li><a href="/" class="current">Home</a></li>
	<li><a href="/pages/about">About</a></li>
	<li><a href="/pages/contact">Contact</a></li>
	{% endif %}
	
	{% if request.session.user_id == 1 %}
	<li><a href="#">Add New Record</a>
          <ul>
            <li><a href="/author/add">Add Author</a></li>
            <li><a href="/book/add">Add New Book</a></li>
            <li><a href="/category/add">Add Book Category</a></li>
            <li><a href="/issue/add">Issue Book</a></li>
            <li><a href="/language/add">Add Languages</a></li>
            <li><a href="/publication/add">Add Publication</a></li>
            <li><a href="/student/add">Add Student</a></li>
          </ul>
    </li>
	<li><a href="#">Reports</a>
          <ul>
            <li><a href="/author">Author Report</a></li>
            <li><a href="/book">Book Report</a></li>
            <li><a href="/category">Book Category Report</a></li>
            <li><a href="/issue">Issue Book Report</a></li>
            <li><a href="/language">Languages Report</a></li>
            <li><a href="/publication">Publication Report</a></li>
            <li><a href="/student">Student Report</a></li>
          </ul>
    </li>	
	{% if request.session.authenticated %}	
  {% endif %}
  <li><a href="/users/changepassword">Change Password</a></li>	
	<li><a href="/users/logout">Logout</a></li>
	{% else %}
	
	<li><a href="/users">Login</a></li>
	{% endif %}

</ul>
    </div>
    <br class="clear" />
  </div>
</div>
	<!--header end-->
	{% block content %} {% endblock content %}
</div>
<div class="wrapper col7">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">Library Management System</a></p>
    
    <br class="clear" />
  </div>
</div>
</body>
</html>