{% extends 'base.html' %}
{% block content %}
{% load static from staticfiles%}
    <div class="wrapper col3">
  <div id="intro">
    <div class="fl_left">
      <h2>Library Management System</h2>
      <p>Library management is a sub-discipline of institutional management that focuses on specific issues faced by libraries and library management professionals. Library management encompasses normal managerial tasks, as well as intellectual freedom and fundraising responsibilities. Issues faced in library management frequently overlap with those faced in managing non-profit organizations.</p>
    
    </div>
    <div class="fl_right"><img src="{% static '/assets/img/trust.jpg'  %}" alt="" style="width:380px; height:300px; " /></div>
    <br class="clear" />
  </div>
</div>


  {% endblock content %}

